@import "../../assets/styles/constants.scss";

.Logo {
  position: relative;
  display: block;
  width: 100%;
  max-width: 316px;
  height: 100%;
  min-height: 40px;
  padding: 10px 5px 10px 20px;
  font-size: 0;
  color: transparent;
  border-left: 1px solid rgb(60%, 58%, 58%, 0.21);
  border-right: 1px solid rgb(60%, 58%, 58%, 0.21);
  background-image: url("../../assets/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-origin: content-box;

  @media (max-width: $tablet-width) {
    max-width: 200px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../../assets/images/logo@2x.png");
  }

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 7px;
    height: 7px;
    content: '';
    background-image: url("../../assets/images/corner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 7px;
    content: '';
    background-image: url("../../assets/images/corner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(90deg);
  }

  .render {
    &:before {
      position: absolute;
      top: 0;
      right: 0;
      width: 7px;
      height: 7px;
      content: '';
      background-image: url("../../assets/images/corner.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform: rotate(180deg);
    }

    &:after {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 7px;
      height: 7px;
      content: '';
      background-image: url("../../assets/images/corner.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transform: rotate(-90deg);
    }
  }
}